@page "/add-book"
@inject IBookService BookService
@inject NavigationManager Navigation

<h3>Add New Book</h3>

<div>
    <input @bind="newBook.Title" placeholder="Title" />
    <input @bind="newBook.Author" placeholder="Author" />
    <input @bind="newBook.ISBN" placeholder="ISBN" />
    <input @bind="newBook.PublicationYear" type="number" placeholder="Publication Year" />

    <button @onclick="HandleAddBook">Add Book</button>
</div>

@code {
    private BookDto newBook = new();

    private async Task HandleAddBook()
    {
        await BookService.AddBookAsync(newBook);
        Navigation.NavigateTo("/books");
    }
}
